nav {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.7rem 1.7rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: auto;
    bottom: 2rem;
    left: 50%;
     transform: translateX(-50%); /*Center the fixed element  to understand what i did wrong first time */
    max-width: 400px; /* Set a specific width or adjust as needed */
    width: 100%; /* Fallback for browsers that do not support max-width */
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
     display: flex;
     color: var(--color-light);
     font-size: 1.1rem;
}
nav a:hover{
  background: rgba(0,0,0,0.3);
}
nav a.active{
      background: var(--color-bg);
      color: var(--color-white);
}
